<template>
  <div>
    <p>{{ data.question }}</p>
    <div class="space-x-4">
      <label v-for="(opt, index) in data.option">
        {{ index }}
        <input type="radio" v-model="value" :value="opt" id="" />
        {{ opt }}
      </label>
    </div>
    <button @click="add">add</button>
  </div>
</template>
<script>
export default {
  data() {
    return {
      value: null,
    };
  },
  props: {
    index: {
      type: Number,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },
  watch: {
    index(n, o) {
      this.value = null;
    },
  },
  methods: {
    add() {
      this.$emit("add", this.value);
    },
  },
};
</script>
