<template>
  <div class="p-3 border border-gray-500 rounded-sm">
    <p class="inline-block p-3 text-left bg-blue-200 rounded-lg">
      {{ count + 1 }}
    </p>
    <quiz
      @add="add"
      :index="count"
      v-model="selectValue"
      :data="datas[count]"
    ></quiz>
  </div>
  <button
    @click="count !== 0 ? count-- : 0"
    class="px-4 py-1 text-white bg-blue-600 border-2 rounded-xl"
  >
    prev
  </button>
  <button
    @click="count == datas.length - 1 ? datas.length - 1 : count++"
    class="px-4 py-1 text-white bg-blue-600 border-2 rounded-xl"
  >
    next
  </button>
  <button
    @click="submit"
    class="px-4 py-1 text-white bg-blue-600 border-2 rounded-xl"
  >
    SUBMİT
  </button>
</template>

<script>
import quiz from "./components/quiz.vue";

export default {
  components: {
    quiz,
  },
  data() {
    return {
      answers: [],
      count: 0,
      datas: [
        {
          question: "2+2=?",
          option: { a: 1, b: 2, c: 3, d: 4 },
          answer: "d",
        },
        {
          question: "2+1=?",
          option: { a: 1, b: 2, c: 3, d: 4 },
          answer: "c",
        },
        {
          question: "2+0=?",
          option: { a: 1, b: 2, c: 3, d: 4 },
          answer: "b",
        },
        {
          question: "2+3=?",
          option: { a: 1, b: 2, c: 3, d: 5 },
          answer: "d",
        },
      ],
    };
  },
  methods: {
    add(val) {
      console.log(val);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
